<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd" xmlns:tx="http://www.springframework.org/schema/tx">


	<bean id="fileUtils" class="com.macrohard.utils.impl.FileUtils"></bean>
	<bean id="imageUtils" class="com.macrohard.utils.impl.ImageUtils"></bean>
	<!-- all entities -->
	<bean id="user" class="com.macrohard.entity.User"></bean>
	<bean id="information" class="com.macrohard.entity.Information"></bean>
	
	<!-- all daos -->
	<bean id="genericDao" class="com.macrohard.dao.impl.GenericDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="userDao" class="com.macrohard.dao.impl.UserDao" >
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>		
	<bean id="informationDao" class="com.macrohard.dao.impl.InformationDao" parent="genericDao">
		<property name="fileUtils" ref="fileUtils"></property>
		<property name="imgUtils" ref="imageUtils"></property>
	</bean>	
	
	
	<!-- all services -->
	<bean id="userService" class="com.macrohard.service.impl.UserService">
		<property name="userDao" ref="userDao"></property>
	</bean>	
	<bean id="informationService" class="com.macrohard.service.impl.InformationService">
		<property name="informationDao" ref="informationDao"></property>
		<property name="userDao" ref="userDao"></property>
	</bean>	
	
	<!-- allActions -->
	<bean id="inforAction" class="com.macrohard.action.InformationAction" scope="prototype">
		<property name="information" ref="information"></property>
		<property name="informationService" ref="informationService"></property>
	</bean>	
	
	<bean id="userAction" class="com.macrohard.action.UserAction" scope="prototype">
		<property name="user" ref="user"></property>
		<property name="userService" ref="userService"></property>
	</bean>
	
	<bean id="ajaxAction" class="com.macrohard.action.AjaxAction" scope="prototype">
		<property name="user" ref="user"></property>
	</bean>
	
	<import resource="persistence.xml"/>
</beans>